body
 {
    background-color: #d7e6f0;
}

p {
    color: #6b7a89;
    font-weight: bold;
    font-size: 30px;


}




.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: left;
    gap: 20px;
    /* Adds space between image and text */
}

.Profile-Picture {

    height: auto;
    margin-right: 50px;
    /*  pushes the paragraph to the right */
}

.NavBar {

    padding: 0 20px;
}

.nav-menu {
    list-style: none;
    display: flex;
    /* makes list horizontal */
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav-menu li {
    margin: 0 15px;
    margin-left: 200px;
    font-size: 50px;
}

.nav-menu a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-menu a:hover {
    background-color: #E4DAF1;
    color: #F2B5A2;
}

#About-Me,
#contact {
    display: flex;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
    /* Vertical centering */
    margin-top: 50px;


}

#certifications {
    display: flex;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
    /* Vertical centering */
    margin-top: 50px;
    font-size: 65.9px;


}
#experience
{
  display: flex;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
    /* Vertical centering */
    margin-top: 50px;
    font-size: 65.9px;
}
.Project-Cards
{
    height: auto;
    margin-right: 50px;
    /*  pushes the paragraph to the right */
    display: flex;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
    /* Vertical centering */
}


.Image-Certifcations {

    height: auto;
    margin-right: 50px;
    /*  pushes the paragraph to the right */
    display: flex;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
    /* Vertical centering */
}
.Information-About-Contacts
{
    display:flex;
    Justify-content: space-between;
    margin-left:400px;
    margin-right:400px;
    
}
.My-links
{
     display:flex;
    Justify-content: space-between;
    margin-left:400px;
    margin-right:400px;
}

.Github-Link a:hover,.Email a:hover
{
     
    background-color: #E4DAF1;
    color: #F2B5A2;

}

.dark-mode {
    background-color: #121212;
    color: #E0E0E0;
}


.dark-mode p {
    color: #A0A0A0;
}

.dark-mode .nav-menu a {
    color: #E0E0E0;
}

.dark-mode .nav-menu a:hover {
    background-color: #1F1B24;
    color: #BB86FC;
}

.dark-mode .Github-Link a:hover,
.dark-mode .Email a:hover {
    background-color: #1F1B24;
    color: #F2B5A2;
}

.dark-mode .center-container,
.dark-mode #About-Me,
.dark-mode #experience,
.dark-mode #certifications,
.dark-mode #contact {
  background-color: #121212;  /* or transparent if you want */
  color: #E0E0E0;
}

.dark-mode .Dark-Mode-Button {
    background-color: #121212;
    color: #E0E0E0;
}


